body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(220, 236, 251);
    font-family: arial;
}

.to-do-header{
    display: flex;
    height: 50px;
    width: 400px;
    background-color: rgb(160, 103, 250);
    align-items: center;
    justify-content: center;
    font-weight: bold; 
    color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.to-do-body{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px 30px;
    padding-bottom: 35px;
    width: 400px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.main-body{
    overflow-y: auto;
    max-height: 500px;
    min-height: 50px;
    width: 100%;
}

.placeholder-text{
    color: rgba(0, 0, 0, 0.3);
}

.new-to-do-button, .add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 103, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 17px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    cursor: pointer;  
    height: 35px;
    box-sizing: border-box;      
}

.new-to-do-button, .input-div{
    position: absolute;
    bottom: 0;
    left: 50%;    
    transform: translate(-50%, 50%);
}

.add-button{
    padding: 10px 13px;
    font-size: 20px;    
}

.to-do-items{
    margin-top: 10px;
}

.input-element{
    font-family: arial;
    border: none;
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(159, 103, 250, 0.2);
}

.input-element::placeholder{
    color: rgb(160, 103, 250);
}

.input-div{
    display: flex;
    height: 37px;
    z-index: 1;
}

.no-display{
    display: none;
}